

.foraedreText{
    font-family: Barlow;
    font-size: 21px;
    text-align: center;
    width: 90%;
    height: 25em;
    margin: auto;

    .foraedreText1{
        padding: 5%;
    }
    .foraedreText2{
        padding: 5%;
    }
    .foraedreText3{
       padding: 5%;
    }
    .foraedreText4{
        padding: 5%;
    }
    .foraedreText5{
        padding: 5%;
    }

}