

//Mobile
.headingBox{
    font-size: 50px;
    width: 100%;
    height: 20%;
    text-align: center;
    background-color: #2E338C;
    color: #F2F2F2;
    font-family: Barlow;
    margin: 5% auto;
    transition: width 0.5s;
}

//PC version
@media only screen and (min-width: 1200px) {
    .headingBox{
        font-size: 50px;
        width: 70%;
        height: 20%;
        text-align: center;
        background-color: #2E338C;
        color: #F2F2F2;
        text-align: left;
        padding-left: 1%;;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .headingBox{
        font-size: 50px;
        width: 65%;
        height: 20%;
        text-align: center;
        background-color: #2E338C;
        color: #F2F2F2;
        text-align: left;
        padding-left: 1%;
    }
  } 

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .headingBox{
        font-size: 50px;
        width: 60%;
        height: 20%;
        text-align: center;
        background-color: #2E338C;
        color: #F2F2F2;
        text-align: center;
        padding-left: 1%;;
    }
  } 
  