.webFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  background-color: aqua;
}

.webText {
  text-align: center;
  font-family: Barlow;
  font-size: 21px;
  width: 85%;
}
.webText .WebText1 {
  padding: 5%;
}
.webText .WebText2 {
  padding: 5%;
}
.webText .WebText3 {
  padding: 5%;
}

.WebImg {
  width: 65%;
  height: 20em;
  border: 1px black solid;
  transition: width 1s;
}

@media only screen and (min-width: 1200px) {
  .webFlex {
    width: 90%;
    height: 30em;
    margin: auto;
  }

  .webText {
    text-align: left;
    font-family: Barlow;
    font-size: 21px;
    width: 30%;
    height: 10em;
    padding: 7%;
    position: absolute;
  }
  .webText margin .WebText1 {
    padding: 0%;
    margin: 5%;
  }
  .webText .WebText2 {
    padding: 0%;
    margin: 5%;
  }
  .webText .WebText3 {
    padding: 0%;
    margin: 5%;
  }

  .WebImg {
    width: 18%;
    height: 20em;
    margin-left: 50%;
    border: 1px black solid;
    position: absolute;
  }
}